<table>
    <thead>
        <tr>
            <th>Servizi</th>
            <th>BiteBox</th>
            <th>Ristoranti</th>
            <th>Supermercati</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Praticità</td>
            <td><img src="assets/yes.svg" alt="Yes"></td>
            <td><img src="assets/yes.svg" alt="Yes"></td>
            <td><img src="assets/no.svg" alt="No"></td>
        </tr>
        <tr>
            <td>Velocità</td>
            <td><img src="assets/yes.svg" alt="Yes"></td>
            <td><img src="assets/yes.svg" alt="Yes"></td>
            <td><img src="assets/no.svg" alt="No"></td>
        </tr>
        <tr>
            <td>Sostenibilità</td>
            <td><img src="assets/yes.svg" alt="Yes"></td>
            <td><img src="assets/no.svg" alt="No"></td>
            <td><img src="assets/no.svg" alt="No"></td>
        </tr>
        <tr>
            <td>Qualità</td>
            <td><img src="assets/yes.svg" alt="Yes"></td>
            <td><img src="assets/yes.svg" alt="Yes"></td>
            <td><img src="assets/yes.svg" alt="Yes"></td>
        </tr>
        <tr>
            <td>Convenienza</td>
            <td><img src="assets/yes.svg" alt="Yes"></td>
            <td><img src="assets/no.svg" alt="No"></td>
            <td><img src="assets/yes.svg" alt="Yes"></td>
        </tr>
    </tbody>
</table>
