<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
</head>

<body>
  <footer>
    <div class="footer-columns">
      <div class="footer-column">
        <h1 id="h1-prima-colonna">BiteBox</h1>
        <h2 id="h2-prima-colonna">Food Evolution</h2>
        <div class="icon-container">
          <p id="p-prima-colonna">
            <img src="assets/footer_svg/telefono.svg" alt="Telefono">
            +39 366 3069 876
          </p>
        </div>
        <div class="icon-container">
          <p id="p-prima-colonna">
            <img src="assets/footer_svg/mail.svg" alt="Mail">
            info@bitebox.com
          </p>
        </div>
      </div>
      <div class="footer-column">
        <h2>Sezioni</h2>
        <p><a href="url">Ordina</a></p>
        <p><a href="url">Come funziona</a></p>
        <p><a href="url">Area Personale</a></p>
      </div>
      <div class="footer-column">
        <h2>About Us</h2>
        <p><a href="url">Missione</a></p>
        <p><a href="url">Dove siamo</a></p>
        <p><a href="url">Chi siamo</a></p>
      </div>
      <div class="footer-column">
        <h2>Info</h2>
        <p><a href="url">Contatti</a></p>
        <p><a href="url">Privacy Policy</a></p>
        <p><a href="url">Cookie Policy</a></p>
      </div>
      <div class="footer-column">
        <h2>Canali Social</h2>
        <div class="icon-grid">
          <img src="assets/footer_svg/facebook.svg" alt="Facebook">
          <img src="assets/footer_svg/instagram.svg" alt="Instagram">
          <img src="assets/footer_svg/twitter.svg" alt="Twitter">
          <img src="assets/footer_svg/tripadvisor.svg" alt="Trip Advisor">
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="additional-row">
      <div class="home-info">
        <img src="assets/footer_svg/home.svg" alt="Icona Home">
        <p>Via dell'Industria 36, Corridonia, Macerata, Italy</p>
      </div>
      <div class="payment-info">
        <p>Pagamento sicuro!</p>
        <div class="payment-icons">
          <img src="assets/footer_svg/mastercard.svg" alt="Mastercard" />
          <img src="assets/footer_svg/visa.svg" alt="Visa" />
          <img src="assets/footer_svg/googlepay.svg" alt="Google Pay" />
          <img src="assets/footer_svg/applepay.svg" alt="Apple Pay" />
          <img src="assets/footer_svg/paypal.svg" alt="PayPal" />
        </div>
      </div>
    </div>
  </footer>


</body>

</html>