footer {
  background: linear-gradient(90deg, #175676, #BA324F);
  color: white;
  padding: 20px;
  margin-top: auto;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
}

.footer-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  margin-bottom: 20px;
}

.divider {
  border-bottom: 3px solid #CCE6F4;
  margin: 20px 0;
  width: 100%;
  border-radius: 3px;
}

.additional-row {
  margin: 20px 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

#h1-prima-colonna {
  font-size: 55px;
  margin-top: 0;
  text-align: center;
}

#h2-prima-colonna {
  font-size: 20px;
  margin-top: 0;
  text-align: center;
}

.icon-container img {
  margin-right: 10px;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  align-items: center;
  margin-bottom: 25px;
}

.icon-grid img {
  width: 24px;
  height: 24px;
}

.home-info {
  display: flex;
  align-items: center;
}

.home-info img {
  margin-right: 10px;
}

.payment-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-info .slang {
  margin-right: 10px;
}

.payment-icons {
  display: flex;
  gap: 7px;
}

a {
  color: white;
  transition: all 0.3s;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  font-size: 11pt;
}

.button-pay {
  margin: 0 5px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.button-pay:hover {
  box-shadow: 0 2.5px 5px #1d1d1d;
}

@media (max-width: 1200px) {
  .footer-column {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .footer-column {
    width: 45%;
  }

  #h1-prima-colonna {
    font-size: 35px;
  }

  #h2-prima-colonna {
    font-size: 12px;
  }

  .footer-columns {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer-column {
    width: 100%;
    margin-bottom: 20px;
  }

  #h1-prima-colonna {
    font-size: 28px;
  }

  #h2-prima-colonna {
    font-size: 10px;
  }

  .button-pay {
    width: 60px;
    height: 40px;
  }

  .additional-row {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
}
