<br><br>

<section class="menu">
  <div class="container">
    <!-- Titolo Principale -->
    <h1 class="main-title">Scegli i tuoi piatti!</h1>

    <!-- Antipasti -->
    <div class="category-container">
      <h2 class="title-box">Antipasti</h2>
      <div class="menu-item">
        <app-card
          imageSrc="assets/PrimoAntipasto.jpg"
          title="Caprese con basilico"
          description="Mozzarella fresca, pomodorini e basilico, conditi con un filo di olio e sale."
        ></app-card>
        <app-card
          imageSrc="assets/TerzoAntipasto.jpg"
          title="Bruschetta classica"
          description="Fette di pane tostato con pomodori freschi, basilico e olio d'oliva."
        ></app-card>
        <app-card
          imageSrc="assets/SecondoAntipasto.jpg"
          title="Rotolini di salmone"
          description="Salmone affumicato farcito con formaggio fresco ed erba cipollina."
        ></app-card>
        <app-card
          imageSrc="assets/QuartoAntipasto.jpg"
          title="Involtini di zucchine"
          description="Zucchine grigliate ripiene con formaggio fresco e menta."
        ></app-card>
      </div>
    </div>

    <!-- Separatore -->
    <div class="separator"></div>

    <!-- Primi Piatti -->
    <div class="category-container">
      <h2 class="title-box">Primi Piatti</h2>
      <div class="menu-item">
        <app-card
          imageSrc="assets/tortellini_boscaiola.jpg"
          title="Tortellini alla boscaiola"
          description="Tortellini con una salsa cremosa di panna, funghi porcini e pancetta croccante."
        ></app-card>
        <app-card
          imageSrc="assets/POMODORO-E-BASILICO.jpg"
          title="Pasta al pomodoro"
          description="Pasta fresca con una salsa al pomodoro e foglie di basilico."
        ></app-card>
        <app-card
          imageSrc="assets/risotto-allo-zafferano.jpg"
          title="Risotto allo zafferano"
          description="Risotto cremoso e colorato con lo speciale sapore dello zafferano."
        ></app-card>
        <app-card
          imageSrc="assets/Spaghetti-alla-Carbonara.jpg"
          title="Carbonara tradizionale"
          description="Spaghetti con crema d'uovo, guanciale e pecorino, il tutto spolverato di pepe."
        ></app-card>
      </div>
    </div>

    <!-- Separatore -->
    <div class="separator"></div>

    <!-- Secondi Piatti -->
    <div class="category-container">
      <h2 class="title-box">Secondi Piatti</h2>
      <div class="menu-item">
        <app-card
          imageSrc="assets/Pollo.jpg"
          title="Pollo al limone"
          description="Filetti di pollo morbidi conditi con una salsa al limone e prezzemolo."
        ></app-card>
        <app-card
          imageSrc="assets/Scaloppine.jpg"
          title="Scaloppine ai funghi"
          description="Carne tenera servita con una salsa cremosa ai funghi profumati."
        ></app-card>
        <app-card
          imageSrc="assets/Branzino.jpg"
          title="Branzino aromatizzato"
          description="Branzino cotto al forno con limone, aglio e un filo di olio."
        ></app-card>
        <app-card
          imageSrc="assets/Frittata.jpg"
          title="Frittata di zucchine"
          description="Frittata leggera arricchita con zucchine fresche e aromatiche."
        ></app-card>
      </div>
    </div>

    <!-- Separatore -->
    <div class="separator"></div>

    <!-- Dolci -->
    <div class="category-container">
      <h2 class="title-box">Dolci</h2>
      <div class="menu-item">
        <app-card
          imageSrc="assets/Tiramisu.jpg"
          title="Tiramisù classico"
          description="Savoiardi al caffè con crema al mascarpone, il tutto spolverato di cacao."
        ></app-card>
        <app-card
          imageSrc="assets/PannaCotta.jpg"
          title="Panna cotta fresca"
          description="Dolce al cucchiaio con una deliziosa salsa ai frutti di bosco."
        ></app-card>
        <app-card
          imageSrc="assets/Crostata.jpg"
          title="Crostata di marmellata"
          description="Base di pasta frolla con marmellata e intreccio croccante."
        ></app-card>
        <app-card
          imageSrc="assets/Brownies.jpg"
          title="Brownies golosi"
          description="Dolci al cioccolato intensi, perfetti con una tazza di latte."
        ></app-card>
      </div>
    </div>
  </div>
</section>