<section class="menu">
    <div class="container">
        
        <h2 class="title-box">Antipasti</h2>
        <div class="menu-item">
           <app-card></app-card>
           <app-card></app-card>
           <app-card></app-card>
           <app-card></app-card>
           <app-card></app-card>
           <app-card></app-card>
           <app-card></app-card>
           <app-card></app-card>

        </div>


        <h2 class="title-box">Primi piatti</h2>
        <div class="menu-item">
            <app-card></app-card>
           <app-card></app-card>
           <app-card></app-card>
           <app-card></app-card>
         
        </div>
        

       

        <h2 class="title-box">Dolci</h2>
        <div class="menu-item">
           
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </div>

       
    </div>
</section>


