<section class="menu">
    <div class="container">
      <h2 class="title-box">Antipasti</h2>
      <div class="menu-item">

        <app-card
          imageSrc="assets/PrimoAntipasto.jpg"
          title="Caprese "
          description="Mozzarella, pomodorini e basilico, conditi con olio e sale."
        ></app-card>

        <app-card
          imageSrc="assets/TerzoAntipasto.jpg"
          title="Bruschetta al pomodoro"
          description="Pane tostato condito con pomodori freschi, basilico e olio extravergine d'oliva."
        ></app-card>

        <app-card
          imageSrc="assets/SecondoAntipasto.jpg"
          title="Rotolini di salmone"
          description="Salmone affumicato arrotolato con formaggio fresco ed erba cipollina."
        ></app-card>

        <app-card
          imageSrc="assets/QuartoAntipasto.jpg"
          title="Involtini di zucchine"
          description="Zucchine grigliate farcite con formaggio fresco e menta, arrotolate ."
        ></app-card>
      </div>
  
      <h2 class="title-box">Primi piatti</h2>
      <div class="menu-item">

        <app-card
          imageSrc="assets/tortellini_boscaiola.jpg"
          title="Toretellini alla boscaiola"
          description="tortellini, conditi con una salsa a base di panna, funghi porcini, piselli e pancetta croccante"
        ></app-card>

        <app-card
          imageSrc="assets/POMODORO-E-BASILICO.jpg"
          title=" Pomodoro e basilico"
          description="Pasta arricchita da una fresca salsa di pomodoro e aromatizzata con foglie di basilico.          "
        ></app-card>

        <app-card
        imageSrc="assets/risotto-allo-zafferano.jpg"
        title="Risotto allo zafferao"
        description="Risotto mantecato, cremoso dal colore dorato, reso speciale dal sapore unico dello zafferano "
      ></app-card>

      <app-card
      imageSrc="assets/Spaghetti-alla-Carbonara.jpg"
      title="Spaghetti alla carbonara"
      description="Spaghetti conditi con uovo cremoso,  guanciale, uova, pecorino romano e una spolverata di pepe."
    ></app-card>
      </div>
  

      <h2 class="title-box">Secondi Piatti</h2>
      <div class="menu-item">

        <app-card
          imageSrc="assets/Pollo.jpg"
          title="Pollo al limone"
          description="Filetti di pollo morbidi, insaporiti da una salsa fresca al limone e prezzemolo."
        ></app-card>

        <app-card
          imageSrc="assets/Scaloppine.jpg"
          title="Scaloppine ai funghi"
          description="Fettine di carne tenere accompagnate da una ricca salsa ai funghi profumata e cremosa."
        ></app-card>

        <app-card
          imageSrc="assets/Branzino.jpg"
          title="Branzino al forno"
          description="Pesce branzino cotto al forno, aromatizzato con limone, aglio e olio d'oliva."        
        ></app-card>

        <app-card
          imageSrc="assets/Frittata.jpg"
          title="Frittata di zucchine"
          description="Una frittata soffice e leggera, arricchita con zucchine fresche e aromatiche."
        ></app-card>
    </div>

      <h2 class="title-box">Dolci</h2>
      <div class="menu-item">

        <app-card
          imageSrc="assets/Tiramisu.jpg"
          title="Tiramisù"
          description="Strati di savoiardi imbevuti di caffè alternati a una crema soffice di mascarpone, il tutto spolverato di cacao."
        ></app-card>

        <app-card
          imageSrc="assets/PannaCotta.jpg"
          title="Panna cotta ai frutti di bosco"
          description="Dolce al cucchiaio delicato e cremoso, servito con una colata di salsa ai frutti di bosco."
        ></app-card>

        <app-card
          imageSrc="assets/Crostata.jpg"
          title="Crostata alla marmellata"
          description="Pasta frolla dorata e friabile, ripiena di marmellata e decorata con un intreccio croccante."
        ></app-card>
        
        <app-card
          imageSrc="assets/Brownies.jpg"
          title="Brownies al cioccolato"
          description="Dolcetti densi e ricchi al cioccolato, perfetti per i golosi e ideali con una tazza di latte."
        ></app-card>

      </div>
    </div>
  </section>
  
