<div class="container">
    <input type="checkbox" id="popup-toggle" class="popup-toggle">
    <label for="popup-toggle" class="button-edit"><img  src="assets/edit.svg"></label>
    <div class="popup">
      <span class="close">&times;</span>
      <h2>Titolo del Popup</h2>
      <p>Descrizione del popup qui...</p>
      <div class="checkboxes">
        <input type="checkbox" id="checkbox1">
        <label for="checkbox1">Checkbox 1</label><br>
        <input type="checkbox" id="checkbox2">
        <label for="checkbox2">Checkbox 2</label><br>
        <!-- Aggiungi altre checkbox qui se necessario -->
      </div>
    </div>
  </div>
  