<app-navbar></app-navbar>
<div class="container">
    <aside class="sidebar">
        <div class="profile">
            <div class="profile-icon">
                <img src="profile-icon.png" alt="Profile Icon">
            </div>
            <div class="profile-info">
                <div class="profile-name">Marco Calabria</div>
                <small class="profile-email">marco.calabriaexample.com</small>
            </div>
        </div>
        <nav class="menu">
            <ul>
                <li class="active">
                    <a href="#">
                        <i class="fas fa-user"></i>
                        <span> Profilo</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-box"></i>
                        <span> Ordini</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-headset"></i>
                        <span> Assistenza</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <div class="main-content-container">
        <header class="main-header">
            <h1>Area Riservata</h1>
        </header>
        <main class="main-content">
            <header class="content-header">
                <nav class="tabs">
                    <ul>
                        <li class="active"><a href="#">Anagrafica</a></li>
                        <li><a href="#">Metodi di pagamento</a></li>
                        <li><a href="#">Impostazioni</a></li>
                        <li><a href="#">Info</a></li>
                    </ul>
                </nav>
            </header>
            <section class="profile-info">
                <div class="info-item">
                    <label>Nome:</label>
                    <span>Marco</span>
                </div>
                <div class="info-item">
                    <label>Cognome:</label>
                    <span>Calabria</span>
                </div>
                <div class="info-item">
                    <label>Email:</label>
                    <span>marco.calabriaexample.com</span>
                </div>
                <button class="edit-button">Modifica</button>
            </section>
        </main>
    </div>
</div>
<app-footer></app-footer>