body {
  font-family: 'Lexend', sans-serif;
  background-color: #FDF7F3;
  color: #4A4A4A;
}

.cart-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 
    0 10px 20px -10px rgba(0, 0, 0, 0.5), /* Ombra nera verso il basso */
    0 -10px 20px -10px rgba(0, 0, 0, 0.5); /* Ombra nera verso l'alto */
  width: 60%;
  margin: 154px auto; 
  text-align: center;
  overflow-x: auto; /* Aggiunto per gestire contenuto overflow su schermi piccoli */
}

h2 {
  color: #174C61;
  margin-bottom: 15px;
}

.cart-summary {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.cart-summary th, .cart-summary td {
  padding: 15px;
  border: 1px solid #ddd; /* Barre laterali aggiunte */
  font-size: 1.5rem;
  vertical-align: middle; /* Centrare verticalmente */
}

.cart-summary th {
  background-color: #f8f8f8;
  color: #333;
  text-align: center;
}

.cart-summary .rounded-left {
  border-top-left-radius: 10px;
}

.cart-summary .rounded-right {
  border-top-right-radius: 10px;
}

.cart-summary .text-center {
  text-align: center;
}

.cart-summary .text-right {
  text-align: right;
  padding-right: 20px;
}

.cart-summary .text-left {
  text-align: center;
}

.cart-summary tfoot td {
  font-weight: bold;
  padding-top: 10px;
  vertical-align: middle;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.button-blue {
  padding: 10px 50px;
  background-color: #175676;
  color: #fff;
  border-radius: 20px;
  font-family: 'Lexend', sans-serif;
  border: none;
  transition: box-shadow 0.3s ease;
}

.button-blue:hover {
  box-shadow: 0 2.5px 5px #4BA3C3;
}

.button-red {
  padding: 10px 50px;
  background-color: #BA324F;
  color: #fff;
  border-radius: 20px;
  font-family: 'Lexend', sans-serif;
  border: none;
  transition: box-shadow 0.3s ease;
}

.button-red:hover {
  box-shadow: 0 2.5px 5px #FF5257;
}

/* Media Queries per la Responsività */
@media (max-width: 1200px) {
  .cart-container {
    width: 80%;
  }

  .cart-summary th, .cart-summary td {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .cart-container {
    width: 90%;
    padding: 15px;
  }

  .cart-summary th, .cart-summary td {
    font-size: 1.2rem;
  }

  .button-blue, .button-red {
    padding: 8px 20px;
  }
}

@media (max-width: 480px) {
  .cart-container {
    padding: 10px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .cart-summary th, .cart-summary td {
    font-size: 1rem;
  }

  .button-blue, .button-red {
    padding: 6px 15px;
  }
}