.cart-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 30px auto;
  text-align: center;
}

h2 {
  color: #174C61;
  margin-bottom: 15px;
}

.cart-summary {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.cart-summary th, .cart-summary td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  font-size: 1.5rem;
  vertical-align: middle; /* Aggiunto per allineare verticalmente */
}

.cart-summary th {
  background-color: #f8f8f8;
  color: #333;
}

.cart-summary .rounded-left {
  border-top-left-radius: 10px;
}

.cart-summary .rounded-right {
  border-top-right-radius: 10px;
}

.cart-summary .text-center {
  text-align: center;
}

.cart-summary .text-right {
  text-align: right;
  padding-right: 20px;
}

.cart-summary .text-left {
  text-align: center; /* Modificato per centrare il testo nella colonna di sinistra */
}

.cart-summary .border-right {
  border-right: 1px solid #ddd;
}

.cart-summary tfoot td {
  font-weight: bold;
  padding-top: 10px;
  vertical-align: middle; /* Aggiunto per centrare verticalmente "Totale" */
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
}

.button-blue {
  padding: 10px 50px;
  background-color: #175676;
  color: #fff;
  border-radius: 20px;
  font-family: 'lexend', sans-serif;
  border: none;
  transition: box-shadow 0.3s ease;
}

.button-blue:hover {
  box-shadow: 0 2.5px 5px #4BA3C3;
}

.button-red {
  padding: 10px 50px;
  background-color: #BA324F;
  color: #fff;
  border-radius: 20px;
  font-family: 'lexend', sans-serif;
  border: none;
  transition: box-shadow 0.3s ease;
}

.button-red:hover {
  box-shadow: 0 2.5px 5px #FF5257;
}

/* Media Queries per la Responsività */
@media (max-width: 1200px) {
  .cart-container {
    width: 80%; /* Rende il contenitore più largo su schermi più piccoli */
  }

  .cart-summary th, .cart-summary td {
    font-size: 1.3rem; /* Riduce la dimensione del testo nelle celle */
  }
}

@media (max-width: 768px) {
  .cart-container {
    width: 90%; /* Rende il contenitore quasi a piena larghezza */
    padding: 15px; /* Riduce il padding */
  }

  .cart-summary th, .cart-summary td {
    font-size: 1.2rem; /* Ulteriore riduzione della dimensione del testo */
  }

  .button-blue, .button-red {
    padding: 8px 20px; /* Riduce il padding per i bottoni */
  }
}

@media (max-width: 480px) {
  .cart-container {
    padding: 10px; /* Riduce ulteriormente il padding */
  }

  h2 {
    font-size: 1.5rem; /* Riduce la dimensione del titolo */
  }

  .cart-summary th, .cart-summary td {
    font-size: 1rem; /* Ulteriore riduzione della dimensione del testo */
  }

  .button-blue, .button-red {
    padding: 6px 15px; /* Ulteriore riduzione del padding per i bottoni */
  }
}
