<div class="rounded-rectangle ">
  <img  src="assets/tortellini_boscaiola.jpg" />

  <div class="card-body text-center ">
    <h3 class="card-title"> Tortellini alla boscaiola</h3>
    <p class="card-text" style="padding: 5px;">Piatto tradizionale e ricco di sapori, il massimo per chi non vuole rinunciare al meglio. <br><br></p>
    
    <div style="padding-left: 50px;">
          <app-button-edit > </app-button-edit>
    </div>
    <div >  
       <a href="#" class="btn btn-primary">Go somewhere</a></div>
  </div>
</div>
