<div class="navbar">
    <!-- Sezione sinistra con link -->
    <div class="left-section">
        <a [routerLink]="'home'">Home</a>
        <a [routerLink]="'ordina'" *ngIf="isAuthenticated">Ordina</a>
        <a [routerLink]="'howitworks'">Come funziona</a>
    </div>

    <!-- Sezione centrale con il logo -->
    <div class="center-section">
        <a [routerLink]="'home'" class="brand">BiteBox</a>
    </div>

    <!-- Sezione destra con link -->
    <div class="right-section">
        <a [routerLink]="'login'" *ngIf="!isAuthenticated">Login</a>
        <a [routerLink]="'cartpage'" *ngIf="isAuthenticated">Carrello</a>
    </div>
</div>
