.container {
    width: 400px;
    height: 470px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
}


input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

button {
    background-color: #C5283D;
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #cf1212;
}

a {
    text-decoration: none;
    color: #007bff;
}

.checkbox {
    margin-bottom: 10px;

    label {
        padding-left: 0;
    }
}

.checkbox label {
    display: inline-block;
    margin-right: 5px;
}

.checkbox input {
    width: 15px;
    height: 15px;
    margin-top: 3px;
}

.button-like {
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    text-decoration: none;
    color: #212529;
    cursor: pointer;
    text-align: center;
    width: 100%;
    padding: 10px 20px;
    position: relative; 
    overflow: hidden; 
}




.button-like img {    
    background-size: contain; 
    width: calc(1em + 20px); /* Larghezza dell'immagine più 50px */
        height: calc(1em + 20px); /* Altezza dell'immagine più 50px */
    position: absolute;
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%);
    z-index: 1; 
}