<div class="container">
    <h1>Accedi</h1>
  
    <form #loginForm="ngForm" (ngSubmit)="onLogin()">
      <label for="email">E-mail:</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="loginData.email"
        required
        #email="ngModel"
      />
      <div *ngIf="email.invalid && email.touched" class="error">Inserisci un'email valida.</div>
  
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="loginData.password"
        required
        #password="ngModel"
      />
      <div *ngIf="password.invalid && password.touched" class="error">Inserisci una password valida.</div>
  
      <div class="checkbox">
        <label for="remember">Ricordami su questo dispositivo</label>
        <input type="checkbox" id="remember" name="remember" style="margin-left: 5px;" />
      </div>
  
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
      <button type="submit" [disabled]="loginForm.invalid">Accedi</button>
      <br>
    </form>
  
    <div style="margin-top: 10px;">
      <label for="account"> Non hai ancora un account?
        <button (click)="onRegister()">Registrati</button>
      </label>
    </div>
  <br>
    <div id="google-button"></div>
  </div>

  