* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



.container {
    display: flex;
    height: 100vh;

}

.sidebar {
    background-color: #003d66;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        list-style: none;

        li {
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
            text-align: center;
            color: white;

            &.active {
                background-color: #69b0e4;
            }

            &:hover:not(.exit) {
                background-color: #69b0e4;
            }
        }

        .exit {
            background-color: #c0392b;
            color: white;

            &:hover {
                background-color: #e74c3c;
            }
        }
    }
}

.content {
    flex-grow: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 350px;

        .form-group {
            margin-bottom: 20px;

            label {
                display: block;
                margin-bottom: 5px;
                color: #333333;
            }

            input {
                width: 100%;
                padding: 10px;
                border: 1px solid #cccccc;
                border-radius: 4px;
            }

            input[readonly] {
                background-color: #e0e0e0;
                color: #666666;
            }
        }

        .delete-account {
            width: 100%;
            padding: 10px;
            background-color: #c0392b;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #e74c3c;
            }
        }
    }
}








.receipt-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* Outer background color set to white /
  }

  .receipt {
    background-color: #e6f7ff; / Light blue background for the receipt */
    border: 1px solid #cce7ff;
    border-radius: 5px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .header, .footer {
    display: flex;
    justify-content: space-between;
  }

  .order-number, .date {
    font-weight: bold;
  }

  .body p {
    margin: 5px 0;
  }

  .price {
    float: right;
  }

  .total {
    font-weight: bold;
  }
