<div class="container">
    <nav class="sidebar">
        <ul>
            <li>Account</li>
            <li>Dati</li>
            <li class="active">Ordini</li>
            <li>Pagamenti</li>
            <li class="exit">Esci</li>
        </ul>
    </nav>
    <div class="receipt-container">
        <div class="receipt">
          <div class="header">
            <span class="order-number">#152647</span>
            <span class="date">17/06/2024</span>
          </div>
          <div class="body">
            <p>Filippo illuminati</p>
            <p>1 x tortellino alla boscaiola <span class="price">€8</span></p>
            <p>2 x acqua 0.5l <span class="price">€2</span></p>
          </div>
          <div class="footer">
            <p>Pagamento: Gpay</p>
            <p class="total">tot <span class="price">€10</span></p>
          </div>
        </div>
      </div>