<br><br>
<div class="how-it-works-container">
    <h2 class="section-title"><em>Come Funziona?</em></h2>
    <div class="timeline-container">
        <!-- Primo Step -->
        <div class="timeline-step">
            <div class="timeline-content left">
                <p class="step-title">“<em>Scegli online il piatto che preferisci tra una vasta selezione.</em>”</p>
            </div>
            <div class="timeline-icon">
                <img src="assets/dish.svg" alt="Dish Icon" class="icon">
            </div>
            <div class="timeline-content right">
                <p class="step-description">I nostri piatti garantiscono sapori e qualità data dalla selezione di prodotti di prima scelta.</p>
            </div>
        </div>
        <!-- Secondo Step -->
        <div class="timeline-step">
            <div class="timeline-content left">
                <p class="step-description">Puoi prenotare piatti e bevande fino a 30 giorni prima, abbiamo a cuore semplicità.</p>
            </div>
            <div class="timeline-icon">
                <img src="assets/calendar.svg" alt="Calendar Icon" class="icon">
            </div>
            <div class="timeline-content right">
                <p class="step-title">“<em>Seleziona il giorno ed ora in cui vuoi ricevere il pasto in totale comodità.</em>”</p>
            </div>
        </div>
        <!-- Terzo Step -->
        <div class="timeline-step">
            <div class="timeline-content left">
                <p class="step-title">“<em>Effettua il pagamento in modo sicuro e con il metodo che preferisci.</em>”</p>
            </div>
            <div class="timeline-icon">
                <img src="assets/payment-method.svg" alt="Payment Icon" class="icon">
            </div>
            <div class="timeline-content right">
                <p class="step-description">Presso i nostri punti potrai ritirare il tuo pasto, riscaldarlo e consumarlo direttamente nel locale.</p>
            </div>
        </div>
        <!-- Quarto Step -->
        <div class="timeline-step">
            <div class="timeline-content left">
                <p class="step-description">Goditi il tuo piatto, mangialo da noi, a lavoro o in viaggio.</p>
            </div>
            <div class="timeline-icon">
                <img src="assets/map.svg" alt="Map Icon" class="icon">
            </div>
            <div class="timeline-content right">
                <p class="step-title">“<em>Consulta la mappa per trovare l’hub più vicino a te.</em>”</p>
            </div>
        </div>

        <!-- Mappa -->
        <div class="bottom-image-container">
            <img src="assets/mappa.svg" alt="Mappa" style="width: 500px; height: auto;">
        </div>

        <!-- Quinto Step -->
        <div class="timeline-step">
            <div class="timeline-content left">
                <p class="step-description">Ti invieremo una notifica non appena il tuo pasto sarà pronto per il ritiro, non ti resta che raggiungerlo!</p>
            </div>
            <div class="timeline-icon">
                <img src="assets/direction.svg" alt="Arrow Icon" class="icon">
            </div>
            <div class="timeline-content right">
                <p class="step-title">“<em>Viaggia fino all’hub all’orario prestabilito.</em>”</p>
            </div>
        </div>

        <!-- Macchina -->
        <div class="bottom-image-container">
            <img src="assets/car.svg" alt="Car Icon" style="width: 300px; height: auto;">
        </div>

        <!-- Ultimo Step -->
        <div class="timeline-step">
            <div class="timeline-content left">
                <p class="step-title">“<em>Avvicinati all’hub con il codice a barre e... *click* ecco il tuo pasto!</em>”</p>
            </div>
            <div class="timeline-icon">
                <img src="assets/packet.svg" alt="Packet Icon" class="icon">
            </div>
            <div class="timeline-content right">
                <p class="step-description">Riceverai un codice a barre da scansionare presso l’hub. Mostra il telefono ed il cassetto con il tuo ordine si aprirà.</p>
            </div>
        </div>
        <div class="bottom-image-container">
            <img src="assets/locker.svg" alt="Locker Final Icon" style="width: 500px; height: auto;">
        </div>
        <div class="timeline-step">
            <div class="timeline-content left">
                <p class="step-description">Dopo averlo ritirato puoi scaldare il cibo negli appositi microonde forniti dal locale, non dovrai preoccuparti per le posate, ci pensiamo noi!</p>
            </div>
            <div class="timeline-icon">
                <img src="assets/fork.svg" alt="Fork Icon" class="icon">
            </div>
            <div class="timeline-content right">
                <p class="step-title">“<em>Goditi il tuo piatto, mangialo da noi, a lavoro o in viaggio.</em>”</p>
            </div>
        </div>
    </div>
</div>
