<div class="how-it-works-container">
    <h1 class="title">BiteBox</h1>
    <h2 class="subtitle">food revolution</h2>
    <div class="horizontal-line"></div>
    <h2 class="section-title">Come Funziona?</h2>
    <div class="custom-table-container">
        <table class="custom-table">
            <tr>
                <td>
                    <p>
                        Scegli online il piatto che preferisci tra una vasta selezione.
                        I nostri piatti garantiscono sapori e qualità data dalla selezione di prodotti di prima scelta.
                    </p>
                </td>
                <td>
                    <div class="image-wrapper">
                        <img src="assets/dish.svg" alt="" class="large-image">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="image-wrapper">
                        <img src="assets/calendar.svg" alt="" class="large-image">
                    </div>
                </td>
                <td>
                    <p>
                        Puoi prenotare piatti e bevande fino a 30 giorni prima, abbiamo a cuore semplicità
                        Seleziona il giorno ed ora in cui vuoi ricevere il pasto in totale comodità.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Effettua il pagamento in modo sicuro e con il metodo che preferisci.</p>
                </td>
                <td>
                    <div class="image-wrapper">
                        <img src="assets/payment-method.svg" alt="" class="large-image">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="image-wrapper">
                        <img src="assets/package.svg" alt="" class="large-image">
                    </div>
                </td>
                <td>
                    <p>Recati presso un nostro hub e ritira il tuo ordine.</p>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="horizontal-line"></div>  
<h2 class="centered-title">Come ritirare il pasto?</h2>
<div class="new-table-container">
    <table class="new-custom-table">
        <tr>
            <td>
                <div class="image-wrapper">
                    <img src="assets/map.svg" alt="" class="large-image">
                </div>
            </td>
            <td>
                <p>Consulta la mappa e trova l’hub più vicino a te.</p>
            </td>
        </tr>
    </table>
</div>
<div class="bottom-image-container">
    <img src="assets/mappa.svg" alt="mappa" style="width: 500px; height: auto;">
</div>
<div class="new-table-container">
    <table class="new-custom-table">
        <tr>
            <td>
                <div class="image-wrapper">
                    <img src="assets/direction.svg" alt="" class="large-image">
                </div>
            </td>
            <td>
                <p>Ti invieremo una notifica non appena il tuo pasto sarà pronto per il ritiro, non ti resta che raggiungerlo!</p>
            </td>
        </tr>
    </table>
</div>
<div class="bottom-image-container">
    <img src="assets/car.svg" alt="mappa">
</div>
<div class="new-table-container">
    <table class="new-custom-table">
        <tr>
            <td>
                <div class="image-wrapper">
                    <img src="assets/packet.svg" alt="" class="large-image">
                </div>
            </td>
            <td>
                <p>Avvicinati all’hub con il codice a barre e... *click* ecco il tuo pasto!</p>
            </td>
        </tr>
    </table>
</div>
<div class="bottom-image-container">
    <img src="assets/locker.svg" alt="mappa">
</div>
<div class="new-table-container">
    <table class="new-custom-table">
        <tr>
            <td>
                <div class="image-wrapper">
                    <img src="assets/fork.svg" alt="" class="large-image">
                </div>
            </td>
            <td>
                <p>Goditi il tuo piatto, mangialo da noi, a lavoro o in viaggio.</p>
            </td>
        </tr>
    </table>
</div>