<style>
  @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap')
</style>

<button type="button" class="btn btn-primary">Bottone bootstrap</button>

<app-button-blue></app-button-blue>

<br><br>

<app-button-red></app-button-red>

<br>

<img src="assets/edit.svg" />

<br>

<img src="assets/scart.svg" />

<app-card> </app-card><br>


<br>

<app-edit-popup></app-edit-popup>

<app-accedi> </app-accedi><br><br>
<app-amzon-pay> </app-amzon-pay> <br>
<app-paypal> </app-paypal>

<br><br><br>