<style>
  @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap')
</style>

<button type="button" class="btn btn-primary">Bottone bootstrap</button>

<app-button-blue></app-button-blue>

<br><br>

<app-button-red></app-button-red>

<br>

<img src="assets/edit.svg" />

<br>

<img src="assets/scart.svg" />

<br>

<app-button-edit></app-button-edit>

<br>

<app-edit-popup></app-edit-popup>

<br>

<app-footer></app-footer>

<br>

<img src="assets/footer_svg/telefono.svg">
<img src="assets/footer_svg/mail.svg">
<img src="assets/footer_svg/facebook.svg">
<img src="assets/footer_svg/instagram.svg">
<img src="assets/footer_svg/twitter.svg">
<img src="assets/footer_svg/tripadvisor.svg">
<img src="assets/footer_svg/home.svg">
<img src="assets/footer_svg/mastercard.svg"/>
<img src="assets/footer_svg/visa.svg"/>
<img src="assets/footer_svg/googlepay.svg"/>
<img src="assets/footer_svg/applepay.svg"/>
<img src="assets/footer_svg/paypal.svg"/>