<head>
    <style>
    body {
      position: relative; 
    }
    #PrimiPiatti {padding-top:20px;height:1000px;color: #000000; background-color: #1E88E5;}
    #SecondiPiatti {padding-top:50px;height:1000px;color: #000000; background-color: #673ab7;}
    #Bevande {padding-top:50px;height:1000px;color: #000000; background-color: #ff9800;}
    </style>
  </head>
  <body data="scroll" data-target=".navbar" data-offset="50">
  
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container " >
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        </button>
      </div>
      <div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav ">
            <li><a href="#PrimiPiatti"> Primi</a></li>
            <li><a href="#SecondiPiatti">Secondi</a></li>
            <li><a href="#Bevande">Bevande</a></li>
              </ul>
        </div>
      </div>
    </div>
  </nav>    
  
  <div id="PrimiPiatti" class="container-fluid">
    <h1>Primi</h1>
        <app-card >        </app-card>
</div>
  <div id="SecondiPiatti" class="container-fluid">
    <h1>Secondi</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  </div>
  <div id="Bevande" class="container-fluid">
    <h1>Bevande</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  </div>
 
  
  </body>