<div class="container">

    <div class="logo">
      <img src="assets/Paypal-logo.png">
    </div>


      <h2 style="text-align: center ;">Paga con PayPal</h2> 
      <h4 style="text-align: center ;">Con un conto PayPal, puoi approfittare della protezione acquisiti e dei premi</h4> <br>

  
        
        <div class="input-group">
          <label for="email">Email o numero di cellulare</label>
          <input type="email" id="email" formControlName="email" required>
        </div>

        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="email" formControlName="email" required> <br>
          <a href="#"><b>Hai dimenticato la password?</b></a>
        
        </div>
        <button type="submit"  >Accedi</button>
        

   
  
    <div class="terms">
      <p>Con la creazione di un account PayPal, accetti i <a href="#">termini e condizioni</a> e l'<a href="#">informativa sulla privacy</a>.</p>
    </div>
  
</div>
